@charset 'UTF-8';
.content .home
{
    position: fixed;

    width: 100%;
    height: 100%;

    background: url('../img/home.jpg') no-repeat center;
    background-size: cover;
}

.entry_wrap
{
    position: absolute;
    top: 50%;

    width: 100%;
    height: 315px;
    margin-top: -178px;

    text-align: center;

    background-color: rgba(0, 0, 0, .6);
}

.entry_wrap .logo
{
    position: relative;

    display: inline-block;

    width: 210px;
    height: 265px;
    margin: 25px 150px;

    vertical-align: middle;
}

.entry_wrap .logo a img
{
    position: relative;
    z-index: 0;

    opacity: .8;
}

.entry_wrap .logo a::after
{
    position: absolute;
    z-index: 1;
    top: 12px;
    left: -18px;

    width: 236px;
    height: 236px;

    content: ' ';

    border-radius: 100%;
    background: radial-gradient(circle, rgba(157, 154, 157, .6) 0, rgba(0, 0, 0, 0) 71%);
}

.entry_wrap a
{
    display: block;

    width: 100%;
    height: 100%;
}

.entry_wrap .register,
.entry_wrap .entrance
{
    display: inline-block;

    width: 235px;
    height: 140px;

    vertical-align: middle;
}

.entry_wrap .register
{
    background: url('../img/register.png') no-repeat center;
}

.entry_wrap .entrance
{
    background: url('../img/enter.png') no-repeat center;
}

.accordion
{
    overflow: hidden;

    width: 100%;
    height: 100%;

    list-style: none;

    background-color: #656565;
}

.accordion li
{
    position: relative;

    float: left;
    overflow: hidden;

    height: 100%;

    transition: width .5s ease-out;
}

.accordion li div
{
    position: relative;

    width: 100%;
    height: 100%;
}

.accordion li div img
{
    width: 100%;
    height: 100%;
}

.accordion:hover li
{
    width: 10%;
}

.accordion li:hover
{
    width: 80%;
}

.accordion-one
{
    position: relative;

    width: 100%;
    height: 320px;
}

.accordion-two
{
    position: relative;

    float: left;

    width: 70%;
    height: 560px;
}

.accordion-three
{
    position: relative;

    float: left;

    width: 30%;
    height: 460px;
}

.accordion-two::before,
.accordion-three::before,
.accordion-three .accordion li:last-of-type::before
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    width: 100%;
    height: 8px;

    content: ' ';

    background: rgba(0, 0, 0, .4);
}

.accordion-one .accordion li::after,
.accordion-two .accordion li::after
{
    position: absolute;
    top: 0;
    right: 0;

    width: 8px;
    height: 100%;

    content: ' ';

    background: rgba(0, 0, 0, .4);
}

.accordion-one .accordion li:last-of-type::after,
.accordion-two .accordion li:last-of-type::after
{
    display: none;
}

.accordion-one .slide-one
{
    width: 14%;
}

.accordion-one .slide-two
{
    width: 35%;
}

.accordion-one .slide-three
{
    width: 51%;
}

.accordion-two .slide-one
{
    width: 70%;
}

.accordion-two .slide-two,
.accordion-two .slide-three,
.accordion-two .slide-four
{
    width: 10%;
}

.accordion-two .accordion li:hover
{
    width: 70%;
}

.vertical .slide-one
{
    height: 80%;
}

.vertical .slide-two
{
    height: 20%;
}

.vertical li
{
    width: 100%;

    transition: height .5s ease-out;
}

.vertical:hover li
{
    width: 100%;
    height: 20%;
}

.vertical li:hover
{
    width: 100%;
    height: 80%;
}

.accordion li .txt
{
    position: absolute;
    left: 0;

    display: block;

    box-sizing: border-box;

    transition: width .2s ease-out;

    opacity: 0;
    color: #fff;
    background: rgba(0, 0, 0, .4);
}

.accordion-one .accordion li .txt
{
    top: 0;

    width: 0;
    height: 100%;
    padding: 45px 0 0 65px;

    border-left: 8px solid #c91277;
}

.accordion-one .accordion li:hover .txt
{
    width: 520px;

    opacity: 1;
}

.accordion-two .accordion li .txt
{
    bottom: 0;

    width: 100%;
    height: 198px;
    padding: 20px 0 0 65px;

    border-bottom: 8px solid #c91277;
}

.accordion-two .accordion li.active .txt,
.accordion-two .accordion li:hover .txt
{
    opacity: 1;
}

.accordion-three .accordion li .txt
{
    top: 0;

    width: 100%;
    height: 368px;
    padding: 30px 30px 0 0;

    text-align: right;

    background: url('../img/txt-bg.png') no-repeat;
    background-size: 100% 368px;
}

.accordion-three .accordion li.active .txt,
.accordion-three .accordion li:hover .txt
{
    opacity: 1;
}

.accordion-one li .txt::before
{
    position: absolute;
    top: 0;
    left: -4px;

    width: 4px;
    height: 100%;

    content: ' ';

    background: rgba(0, 0, 0, .4);
}

.accordion-two li .txt::after
{
    position: absolute;
    bottom: -4px;
    left: 0;

    width: 100%;
    height: 4px;

    content: ' ';

    background: rgba(0, 0, 0, .4);
}

.accordion li .txt h2
{
    font-size: 26px;

    margin-bottom: 15px;

    white-space: nowrap;
}

.accordion li .txt h3
{
    font-size: 24px;

    white-space: nowrap;
}

.accordion li .txt a
{
    font-size: 16px;
    font-weight: bold;

    display: block;

    width: 100px;
    margin: 15px 0;

    color: #c91277;
}

.accordion-one .accordion li .txt a
{
    position: absolute;
    bottom: 25px;
}

.accordion-two .accordion li .txt a
{
    position: absolute;
    bottom: 0;
}

.accordion-three .accordion li .txt a
{
    position: absolute;
    top: 140px;
    right: 30px;
}

.accordion-three .add
{
    box-sizing: border-box;
    width: 100%;
    height: 100px;

    text-align: center;

    border-top: 8px solid #656565;
    background-color: #818282;
}

.accordion-three .add a
{
    font-size: 54px;
    font-weight: bold;
    line-height: 90px;

    color: #c91277;
}
