@charset 'UTF-8';
.product_con
{
    position: relative;

    box-sizing: border-box;
    width: 1167px;
    margin: 0 auto;
}

.product_con .banner
{
    position: relative;

    width: 100%;
    margin: 0 0 30px;
}

.product_con .tool-bar
{
    line-height: 40px;

    position: relative;

    clear: both;

    width: 100%;
    height: 40px;
    margin: 20px 0 5px;
    padding: 0 10px;

    background-color: #dcdcdc;
}

.bread li
{
    float: left;
}

.bread li a
{
    font-family: SimHei, 'Microsoft YaHei';
    font-size: 13px;

    color: #666;
}

.bread li span
{
    font-size: 12px;
    line-height: 13px;

    display: inline-block;

    margin: 0 8px;
}

.bread li.active a
{
    color: #333;
}

.filter-wrap
{
    position: relative;

    float: right;
}

.menu
{
    font-size: 14px;
    line-height: 25px;

    position: relative;
    z-index: 99;

    display: inline-block;

    width: 115px;
    height: 25px;
    margin: 8px 5px;
    padding: 0;

    text-align: left;

    border-radius: 2px;
    background-color: #fff;
}

.menu .menu-hd
{
    position: relative;
    z-index: 1;

    display: block;

    width: 100%;
    padding: 0 8px;
}

.menu .menu-hd .prev
{
    position: absolute;
    top: 1px;
    right: 6px;

    cursor: pointer;
}

.menu .menu-hd .next
{
    position: absolute;
    right: 6px;
    bottom: 1px;

    cursor: pointer;
}

.menu:hover .menu-hd,
.menu:hover .menu-hd a
{
    color: #c91277;
}

.menu .menu-bd
{
    position: absolute;
    top: 25px;

    display: none;

    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 6px 4px;

    border-radius: 4px;
    background: rgba(0, 0, 0, .4);
}

.menu:hover .menu-bd
{
    display: block;
}

.menu-bd li
{
    line-height: 30px;

    height: 30px;

    border-bottom: 1px solid rgba(170, 170, 170, .4);
}

.menu-bd li a
{
    display: block;

    width: 100%;

    color: #fff;
}

.menu-bd li a:hover
{
    color: #c91277;
}

.menu-bd li span i
{
    display: inline-block;

    width: 4px;
    height: 4px;
    margin-right: 5px;

    vertical-align: middle;
}

.menu-bd li .red i
{
    background-color: #f00;
}

.menu-bd li .orange i
{
    background-color: #fa800a;
}

.menu-bd li .yellow i
{
    background-color: #e5c048;
}

.menu-bd li .green i
{
    background-color: #00b400;
}

.menu-bd li .cyan i
{
    background-color: #00c8d2;
}

.menu-bd li .blue i
{
    background-color: #0064ff;
}

.menu-bd li .purple i
{
    background-color: #a000ff;
}

.menu-bd li a label
{
    float: right;
}

.product-list
{
    position: relative;

    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 20px;

    border-bottom: 2px solid #5c5c5c;
}

.product-list::after
{
    position: absolute;
    bottom: -5px;
    left: 0;

    width: 100%;
    height: 1px;

    content: ' ';

    background-color: #5c5c5c;
}

.product-list ul
{
    position: relative;

    overflow: hidden;

    margin: 0 -11px;
}

.product-list li
{
    position: relative;

    float: left;
    overflow: hidden;

    width: 275px;
    height: 206px;
    margin: 20px 11px 26px;
}

.product-list li img
{
    width: 100%;
    height: 100%;
}

.product-list li .des
{
    position: absolute;
    top: 166px;
    left: 0;

    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0 20px;

    transition: top .3s ease-in-out;

    color: #fff;
    background: rgba(0, 0, 0, .3);
}

.product-list li:hover .des
{
    top: 0;
}

.product-list .des h4
{
    line-height: 40px;
}

.product-list .des p
{
    font-size: 12px;
    line-height: 20px;

    position: relative;
}

.product-list .des p:first-of-type
{
    margin-top: 15px;
}

.product-list .des p:first-of-type::before
{
    position: absolute;
    top: -10px;
    left: 0;

    width: 25px;
    height: 2px;

    content: ' ';

    background-color: #fff;
}

.pagination
{
    line-height: 40px;

    position: relative;

    width: 100%;
    margin: 15px 0 45px;

    text-align: center;
}

.pagination a
{
    font-size: 18px;
    font-weight: bold;

    position: relative;

    padding: 0 8px;

    color: #646464;
}

.pagination a::before
{
    position: absolute;
    top: 10px;
    left: -4px;

    width: 5px;
    height: 5px;

    content: ' ';

    border-radius: 100%;
    background-color: #646464;
}

.pagination a:nth-child(2)::before,
.pagination a.prev::before,
.pagination a.next::before
{
    display: none;
}

.pagination a.prev,
.pagination a.next
{
    font-size: 20px;
}

.pagination a.on
{
    color: #fff;
}

.pagination a:hover
{
    color: #c91277;
}
